black==24.10.0
click==8.1.8
coverage==7.6.12
Django==4.2.11
django-cors-headers==4.7.0
django-extensions==3.2.3
django-filter==24.3
djangorestframework==3.14.0
factory-boy==3.3.3
psycopg2-binary==2.9.10
pytest==8.3.4
pytest-clarity==1.0.1
pytest-cov==6.0.0
pytest-django==4.8.0
pytest-factoryboy==2.7.0
pytest-icdiff==0.9
python-decouple==3.8
python-dotenv==1.0.1
requests==2.31.0
ruff==0.9.6
