black==23.10.0
click==8.1.7
coverage==7.3.2
Django==4.2.6
django-cors-headers==4.3.0
django-extensions==3.2.3
django-filter==23.3
djangorestframework==3.14.0
factory-boy==3.3.0
psycopg2-binary==2.9.9
py==1.11.0
pytest==7.4.3
pytest-clarity==1.0.1
pytest-cov==4.1.0
pytest-django==4.7.0
pytest-factoryboy==2.6.0
pytest-icdiff==0.8
python-decouple==3.8
python-dotenv==1.0.0
requests==2.31.0

